ryan/code/Datasets/fire_l.pt
ryan/code/Datasets/fire_m.pt
ryan/code/Datasets/yolov8n.pt
ryan/code/scripts/SAGE/Sage_Downloader
ryan/code/scripts/SAGE/SageImgs/*
ryan/images/1714276853444947405-sample.jpg
ryan/images/Screenshot from 2024-06-18 10-26-41.png
ryan/code/scripts/SAGE/Ambulance.jpg
