Package                Version
---------------------- -----------
anyio                  3.5.0
appnope                0.1.2
argon2-cffi            21.3.0
argon2-cffi-bindings   21.2.0
asttokens              2.0.5
attrs                  21.4.0
backcall               0.2.0
beautifulsoup4         4.11.1
bleach                 4.1.0
brotlipy               0.7.0
certifi                2022.9.24
cffi                   1.15.0
charset-normalizer     2.0.4
colorama               0.4.4
conda                  22.11.1
conda-content-trust    0+unknown
conda-package-handling 1.8.1
cryptography           36.0.0
debugpy                1.5.1
decorator              5.1.1
defusedxml             0.7.1
entrypoints            0.4
executing              0.8.3
fastjsonschema         2.16.2
idna                   3.3
ipykernel              6.15.2
ipython                8.6.0
ipython-genutils       0.2.0
jedi                   0.18.1
Jinja2                 3.1.2
jsonschema             4.16.0
jupyter_client         7.3.5
jupyter_core           4.11.2
jupyter-server         1.18.1
jupyterlab-pygments    0.1.2
lxml                   4.9.1
MarkupSafe             2.1.1
matplotlib-inline      0.1.6
mistune                0.8.4
nb-conda               2.2.1
nb-conda-kernels       2.3.1
nbclassic              0.4.8
nbclient               0.5.13
nbconvert              6.5.4
nbformat               5.5.0
nest-asyncio           1.5.5
notebook               6.5.2
notebook_shim          0.2.2
packaging              21.3
pandocfilters          1.5.0
parso                  0.8.3
pexpect                4.8.0
pickleshare            0.7.5
pip                    21.2.4
pluggy                 1.0.0
prometheus-client      0.14.1
prompt-toolkit         3.0.20
psutil                 5.9.0
ptyprocess             0.7.0
pure-eval              0.2.2
pycosat                0.6.3
pycparser              2.21
Pygments               2.11.2
pyOpenSSL              22.0.0
pyparsing              3.0.9
pyrsistent             0.18.0
PySocks                1.7.1
python-dateutil        2.8.2
pyzmq                  23.2.0
requests               2.27.1
ruamel.yaml            0.17.21
ruamel.yaml.clib       0.2.6
ruamel-yaml-conda      0.15.100
Send2Trash             1.8.0
setuptools             61.2.0
six                    1.16.0
sniffio                1.2.0
soupsieve              2.3.2.post1
stack-data             0.2.0
terminado              0.13.1
tinycss2               1.2.1
toolz                  0.12.0
tornado                6.2
tqdm                   4.63.0
traitlets              5.1.1
typing_extensions      4.3.0
urllib3                1.26.8
wcwidth                0.2.5
webencodings           0.5.1
websocket-client       0.58.0
wheel                  0.37.1
